.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  
  .online {
    background-color: green;
  }
  
  .offline {
    background-color: red;
  }
  
  .user-details {
    display: flex;
    align-items: center;
  }
  
  .user-name {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .user-email {
    color: gray;
  }
  
  .status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  