body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color:#333;
}
body::-webkit-scrollbar {
  width: 0.5em;
  background-color: #F5F5F5;
}
body::-webkit-scrollbar-thumb {
  background-color: #333;
}


header {
  --text: #f4f4f4;
  --text-inverse: #333;
  --background: #333333;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 3em;
  transition: background 250ms ease-in;
  background: var(--background);
  color: var(--text);
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav__link {
  --spacing: 1em;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: calc(var(--spacing) / 2) var(--spacing);
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
}

.nav__link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: var(--spacing);
  right: var(--spacing);
  height: 2px;
  background: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.nav__link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav__link--btn {
  border: 1.5px solid currentColor;
  border-radius: 2em;
  margin-left: 1em;
  transition: background 250ms ease-in-out;
  /* letter-spacing: 1px; */
  padding: 0.75em 1.5em;
}

.nav__link--btn:hover {
  background: var(--text);
  color: var(--text-inverse);
  border-color: var(--text);
}

.nav__link--btn::after {
  display: none;
}

.nav__link--btn--highlight {
  background: blue;
  border-color: white;
  color: white;
}

.nav__link--btn--highlight:hover {
  background: var(--text);
  border-color: var(--text);
}

.nav-scrolled {
  --text: #333;
  --text-inverse: #f4f4f4;
  --background: #f4f4f4;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.home-intro {
  padding: 20vh 0;
  background-color: #333;
  background-size: cover;
  background-blend-mode: multiply;
  color: white;
  text-align: center;
}

.home-about {
  padding: 4em 0;
  max-width: 900px;
  margin: 0 auto;
}

.columns {
  display: flex;
}

.col + .col {
  margin-left: 1.5em;
}

.more-stuff-grid {
  background: #f4f4f4;
  padding: 4em 0;
  display: grid;
  grid-gap: 2em;
  align-items: center;
  grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax(1em, 1fr);
}

.from-left {
  grid-column: 2 / 3;
}

.from-right {
  grid-column: 3 / 4;
}
.ItemView {
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  background-color:white;
}

.card:hover {
  box-shadow: 0 10px 20px 0 rgba(255, 255, 255, 0.3);
}


.container {
  padding: 2px 16px;
}
.card-footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.buy-now-button {
  flex-grow: 3;
  background-color: #6459DD;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 1px;
}

.buy-now-button:hover {
  background-color: #335599;
}

.add-to-cart-button {
  flex-grow: 1;
  background-color: #6459DD;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
  background-color: #335599;
}


.ItemImages{
  max-width: 100%; 
  max-height: 100%; 
  object-fit: contain;
}

#ImageContainer {
  width: 100%;
  height: 20em;
  position: relative;
  overflow: hidden;
}

/* #PopUpImage {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  max-height: 100%;
} */


/* 
 #searchInput {
  position: relative;
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#searchInput::placeholder {
  color: #999;
}

#searchInput:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 5px #66afe9;
}


#ShoppingCartIcon{
  margin-left: 2%;
  width: 2em;
  height: fit-content;
} */

.account {
  display: flex;
  align-items: center;
}

.nav__list__right {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__list-item__right {
  margin-left: 10px;
}

.nav__link__right {
  color: white;
  text-decoration: none;
}

#searchInput {
  position: absolute;
  top: 2.2em;
  right: 18em;
  width: 12rem;
  height: 2rem; 
  margin-right: 1.5rem;
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  background-color: white;
  color: #333;
  outline: none;
  transition: transform 0.3s ease;
}

#searchInput::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

#searchInput:hover,
#searchInput:focus {
  background-color: white;
  transform: scale(1.05);
}

#logo{
  position: absolute;
  top: -0.5rem;
  width: 20rem;
  transform: scale(1);
  transition: transform 0.3s ease;
}

#logo:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

#error{
  color: red;
}

.quantity {
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}
.quantity {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity button {
  margin-left: 1em;
  height: 45px;
}

.quantity input {
  width: 45px;
  height: 42px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #eee;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}

  /* Custom styles for Swal2 popup */
  .swal2-popup .swal2-input {
    display: inline-block;
    width: 40%;
    margin-right: 10px;
  }

  .swal2-popup .swal2-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  .swal2-popup #addToCartBtn {
    width: 60%;
    padding: 10px;
    background-color: #6459DD;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  