body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color:#333;
}
body::-webkit-scrollbar {
  width: 0.5em;
  background-color: #F5F5F5;
}
body::-webkit-scrollbar-thumb {
  background-color: #333;
}
.site-logo {
  font-weight: 900;
  font-size: 1.2rem;
  color: var(--text);
  text-decoration: none;
}
.site-logo:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

header {
  --text: #f4f4f4;
  --text-inverse: #333;
  --background: #333333;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 3em;
  transition: background 250ms ease-in;
  background: var(--background);
  color: var(--text);
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav__link {
  --spacing: 1em;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: calc(var(--spacing) / 2) var(--spacing);
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
}

.nav__link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: var(--spacing);
  right: var(--spacing);
  height: 2px;
  background: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.nav__link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav__link--btn {
  border: 1.5px solid currentColor;
  border-radius: 2em;
  margin-left: 1em;
  transition: background 250ms ease-in-out;
  letter-spacing: 1px;
  padding: 0.75em 1.5em;
}

.nav__link--btn:hover {
  background: var(--text);
  color: var(--text-inverse);
  border-color: var(--text);
}

.nav__link--btn::after {
  display: none;
}

.nav__link--btn--highlight {
  background: blue;
  border-color: white;
  color: white;
}

.nav__link--btn--highlight:hover {
  background: var(--text);
  border-color: var(--text);
}

.nav-scrolled {
  --text: #333;
  --text-inverse: #f4f4f4;
  --background: #f4f4f4;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.home-intro {
  padding: 20vh 0;
  background-color: #333;
  background-size: cover;
  background-blend-mode: multiply;
  color: white;
  text-align: center;
}

.home-about {
  padding: 4em 0;
  max-width: 900px;
  margin: 0 auto;
}

.columns {
  display: flex;
}

.col + .col {
  margin-left: 1.5em;
}

.more-stuff-grid {
  background: #f4f4f4;
  padding: 4em 0;
  display: grid;
  grid-gap: 2em;
  align-items: center;
  grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax(1em, 1fr);
}

.from-left {
  grid-column: 2 / 3;
}

.from-right {
  grid-column: 3 / 4;
}
.ItemView {
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  background-color:white;
}

.card:hover {
  box-shadow: 0 10px 20px 0 rgba(255, 255, 255, 0.3);
}


.container {
  padding: 2px 16px;
}
.card-footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.buy-now-button {
  flex-grow: 3;
  background-color: #6459DD;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 1px;
}

.buy-now-button:hover {
  background-color: #335599;
}

.add-to-cart-button {
  flex-grow: 1;
  background-color: #6459DD;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
  background-color: #335599;
}


.ItemImages{
  max-width: 100%; 
  max-height: 100%; 
  object-fit: contain;
}

/* 
 #searchInput {
  position: relative;
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#searchInput::placeholder {
  color: #999;
}

#searchInput:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 5px #66afe9;
}


#ShoppingCartIcon{
  margin-left: 2%;
  width: 2em;
  height: fit-content;
} */

.account {
  display: flex;
  align-items: center;
}

.nav__list__right {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__list-item__right {
  margin-left: 10px;
}

.nav__link__right {
  color: white;
  text-decoration: none;
}

#searchInput {
  width: 12rem;
  height: 2rem; 
  margin-right: 1.5rem;
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  background-color: white;
  color: #333;
  outline: none;
  transition: transform 0.3s ease;
}

#searchInput::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

#searchInput:hover,
#searchInput:focus {
  background-color: white;
  transform: scale(1.05);
}


#ShoppingCartIcon {
  color: white;
  width: 2.5rem; 
  height: 100%;
}

#ShoppingCartIcon:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}


.main-nav{
  margin-left: 16%;
}

.shopping-cart {
  position: relative;
  display: inline-block;
}

.cart-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: #6459DD;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  color: white;
  transition: transform 0.3s ease;
}

.shopping-cart:hover,
.shopping-cart:hover .cart-badge {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}


.cardCart:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.cardCart img {
  height: 100%;
  width: auto;
  object-fit: contain;
  float: left;
}



.cardCart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 5rem;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.rightCard {
  flex: 1;
  width: 25%; /* Updated width */
  height: 100%; /* Adjust the height as needed */
}

.leftCard {
  flex: 1;
  width: 25%; /* Updated width */
}
.midCard {
  position: relative;
  flex: 2; /* Updated flex value */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; /* Add this line */
}

.midCard h3,
.midCard p {
  margin: 0;
}

.midCard h3 {
  flex: 1;
}

.midCard p {
  margin-left: 10px;
}

.leftCard {
  display: flex;
  align-items: center;
}

.deleteButton,
.minusButton,
.plusButton {
  position: relative;
  color: white;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  margin-right: 1rem;
}



.deleteButton::before,
.deleteButton::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 2px;
  background-color: white;
}

.deleteButton::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.deleteButton::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}


.deleteButton:hover::before,
.deleteButton:hover::after {
  background-color: #fff;
} 

.deleteButton{
  background-color: red;
}

.minusButton {
  background-color: #6459DD;
}

.plusButton {
  background-color: green;
}

#counterButtons{
  font-size: 20px;
}

.minusButton:hover,
.plusButton:hover,
.deleteButton:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.errorMsg{
  position: absolute;
  color: red;
  bottom: 0;
}