@media only screen and (min-width: 1980px) {
    .main-nav{
        margin-left: auto;
        margin-right: 35em;
      }
  }

  @media only screen and (min-width: 1700px) and (max-width: 1979px) {
    .main-nav{
        margin-left: auto;
        margin-right: 38rem;
      }
  }
  
  @media only screen and (min-width: 1500px) and (max-width: 1699px) {
    .main-nav{
        margin-left: auto;
        margin-right: 28rem;
      }
  }
  
  @media only screen and (min-width: 1300px) and (max-width: 1499px) {
    .main-nav{
        margin-left: auto;
        margin-right: 25em;
      }
  }
  
  @media only screen and (min-width: 1000px) and (max-width: 1299px) {
    .main-nav{
        margin-left: auto;
        margin-right: 20em;
      }
      .carousel-item img {
        max-height: 800px; 
      }
  }

  @media only screen and (max-width: 999px) {
    .main-nav{
        margin-left: auto;
        margin-right: 10rem;
      }
      #searchInput{
        display: none;
      }
     
  }

  
  @media only screen and (max-width: 800px) {
    .main-nav{
      margin-left: auto;
      margin-right: 6rem;
    }
    #logOutButton{
      padding: 0.5em 0.75em;
    }
  }

  @media only screen and (max-width: 670px) {
    .main-nav{
      margin-left: auto;
      margin-right: 2rem;
    }
    #logOutButton{
      padding: 0.5em 0.75em;
    }
  }

  @media only screen and (max-width: 600px) {
    .main-nav{
      margin-left: 0;
      margin-right: 0;
    }
    #LogOutButton{
      font-size: smaller;
      padding:  0.5em 0.75em;
    }
    header{
      padding: 1rem;
    }
  }


  
  @media only screen and (min-width: 1200px) {
    #logo2{
        display: none;
      }
  }

  @media only screen and (max-width: 1200px) {
    #logo{
        display: none;
      }
      #logo2{
        width: 3em;
      }
      .card h2{
        font-size: 1rem;
      }
  }