html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
body {
    overflow: hidden;
    background-color: #323232;
}


.content {
    margin-top: 2rem;
}

.error {
    color: red;
}

.success {
    color: green;
}

.swal2-confirm{
    margin-right: 1em;
}
