/* #formWrapper {
  display: none;
} */

#LoadingHeading {
  text-align: center;
}

@media (max-width: 375px) {
  #responsive-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #modelContainer {
    display: none;
  }

  #formWrapper {
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding: 1em;
  }
}


@media (min-width: 489px) and (max-width: 580px) {
  #responsive-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #modelContainer {
    display: none;
  }

  #formWrapper {
    width: 25em;
    height: fit-content;
    margin: auto;
    padding: 2em;
  }
}

/* Larger mobile devices */
@media (min-width: 581px) and (max-width: 850px) {
  #responsive-canvas {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

  #modelContainer {
    display: none;
  }

  #formWrapper {
    width: 30rem;
    height: fit-content;
    margin: auto;
    padding: 2em;
  }

  #LoginHeading {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  #formWrapper button {
    font-size: 1.4em; 
    padding: 0.3em 0.6em; 
    margin-top: 0.6em;
    margin-bottom: 0.3em;
  }
}

@media (min-width: 851px) and (max-width: 1000px) {
  #responsive-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  #modelContainer {
    position: absolute;
    z-index: -1;
    margin-right: 25rem;
    margin-top: 30rem;
    width: 100%;
    padding-bottom: 180%;
    /* Adjust the aspect ratio of the model container */
  }

  #formWrapper {
    width: 20rem;
    height: fit-content;
    margin: auto;
    margin-right: 4em;
    padding: 2em;
  }

  #LoginHeading {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  #formWrapper button {
    font-size: 1.4em; 
    padding: 0.3em 0.6em; 
    margin-top: 0.6em;
    margin-bottom: 0.3em;
  }
}
@media (min-width: 1001px) and (max-width: 1179px) {
  #responsive-canvas {
    position: absolute;
    top: 5em;
    width: 100%;
    height: 100%;
  }

  #modelContainer {
    position: absolute;
    z-index: -1;
    margin-right: 25rem;
    margin-top: 30rem;
    width: 100%;
    padding-bottom: 160%;
    /* Adjust the aspect ratio of the model container */
  }

  #formWrapper {
    width: 25rem;
    height: fit-content;
    margin: auto;
    margin-right: 4em;
    padding: 2em;
  }

  #LoginHeading {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  #formWrapper button {
    font-size: 1.4em; 
    padding: 0.3em 0.6em; 
    margin-top: 0.6em;
    margin-bottom: 0.3em;
  }
}

@media (min-width: 1180px) and (max-width: 1550px) {
  #responsive-canvas {
    position: absolute;
    top: 10em;
    width: 100%;
    height: 100%;
  }

  #modelContainer {
    position: absolute;
    z-index: -1;
    margin-right: 35rem;
    margin-top: 25rem;
    width: 100%;
    padding-bottom: 180%;
    /* Adjust the aspect ratio of the model container */
  }

  #formWrapper {
    width: 25rem;
    height: fit-content;
    margin: auto;
    margin-right: 8em;
    padding: 2em;

  }

  #LoginHeading {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  #formWrapper button {
    font-size: 1.4em; 
    padding: 0.3em 0.6em; 
    margin-top: 0.6em;
    margin-bottom: 0.3em;
  }
}
@media (min-width: 1551px) and (max-width: 2150px) {
  #responsive-canvas {
    position: absolute;
    top: 25rem;
    right: 10rem;
    width: 100%;
    height: 100%;
  }

  #modelContainer {
    position: absolute;
    z-index: -1;
    margin-right: 25rem;
    width: 100%;
    padding-bottom: 130%;
  }

  #formWrapper {
    width: 35rem;
    height: fit-content;
    margin: auto;
    margin-right: 15em;
    padding: 4em;
  }
  #formWrapper button {
    font-size: 1.8em; 
    padding: 0.4em 0.8em; 
    margin-top: 0.8em;
    margin-bottom: 0.4em;
  }

  #LoginHeading {
    text-align: center;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
  }
  #formWrapper input,
  #formWrapper select,
  #formWrapper label,
  #formWrapper a {
    font-size: 1.2em; 
    padding: 0.2em; 
  }

  #formWrapper h1 {
    font-size: 4em; 
    padding: 0.2em; 
    margin-top: 0,5em;
  }
}
@media (min-width: 2151px) and (max-width: 2399px) {
  #responsive-canvas {
    position: absolute;
    top: 40rem;
    right: 10rem;
    width: 100%;
    height: 100%;
  }

  #modelContainer {
    position: absolute;
    z-index: -1;
    margin-right: 25rem;
    width: 100%;
    padding-bottom: 160%;
  }

  #formWrapper {
    font-size: x-large;
    width: 40rem;
    height: fit-content;
    margin: auto;
    margin-right: 15em;
    padding: 2em;
  }
  #formWrapper input,
  #formWrapper select,
  #formWrapper label,
  #formWrapper a {
    font-size: 1.5em; 
    padding: 0.2em; 
  }

  #formWrapper button {
    font-size: 2em; 
    padding: 0.4em 0.8em; 
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

  #formWrapper h1 {
    font-size: 4em; 
    padding: 0.2em; 
    margin-top: 0,5em;
  }
  #LoginHeading {
    font-size: 50px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
  }
}
@media (min-width: 2400px) and (max-width: 2601px) {
  #responsive-canvas {
    position: absolute;
    top: 30rem;
    right: 15rem;
    width: 100%;
    height: 100%;
  }

  #modelContainer {
    position: absolute;
    z-index: -1;
    margin-right: 25rem;
    width: 100%;
    padding-bottom: 140%;
  }

  #formWrapper {
    font-size: x-large;
    width: 40rem;
    height: fit-content;
    margin: auto;
    margin-right: 20em;
    padding: 2em;
  }

  #formWrapper input,
  #formWrapper select,
  #formWrapper label,
  #formWrapper a {
    font-size: 1.5em; 
    padding: 0.2em; 
  }

  #formWrapper button {
    font-size: 2em; 
    padding: 0.4em 0.8em; 
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

  #formWrapper h1 {
    font-size: 4em; 
    padding: 0.2em; 
    margin-top: 0,5em;
  }

  #LoginHeading {
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (min-width: 2600px) and (max-width: 2800px) {
  #responsive-canvas {
    position: absolute;
    top: 40rem;
    right: 15rem;
    width: 100%;
    height: 100%;
  }

  #modelContainer {
    position: absolute;
    z-index: -1;
    margin-right: 25rem;
    width: 100%;
    padding-bottom: 120%;
  }

  #formWrapper {
    font-size: x-large;
    width: 50rem;
    height: fit-content;
    margin: auto;
    margin-right: 15em;
    padding: 2em;
  }


  #LoginHeading {
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  #formWrapper input,
  #formWrapper select,
  #formWrapper label,
  #formWrapper a {
    font-size: 1.5em; 
    padding: 0.2em; 
  }

  #formWrapper button {
    font-size: 2em; 
    padding: 0.4em 0.8em; 
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

  #formWrapper h1 {
    font-size: 4em; 
    padding: 0.2em; 
    margin-top: 0,5em;
  }
}
@media (min-width: 2801px) and (max-width: 3000px) {
  #responsive-canvas {
    position: absolute;
    top: 30rem;
    right: 15rem;
    width: 100%;
    height: 100%;
  }

  #modelContainer {
    position: absolute;
    z-index: -1;
    margin-right: 25rem;
    width: 100%;
    padding-bottom: 100%;
  }

  #formWrapper {
    font-size: x-large;
    width: 40rem;
    height: fit-content;
    margin: auto;
    margin-right: 15em;
    padding: 2em;
  }

  #formWrapper input,
  #formWrapper select,
  #formWrapper label,
  #formWrapper a {
    font-size: 1.5em; 
    padding: 0.2em; 
  }

  #formWrapper button {
    font-size: 2em; 
    padding: 0.4em 0.8em; 
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

  #formWrapper h1 {
    font-size: 4em; 
    padding: 0.2em; 
    margin-top: 0,5em;
  }

  #LoginHeading {
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (min-width: 3001px) and (max-width: 3200px) {
  #responsive-canvas {
    position: absolute;
    top: 30rem;
    right: 15rem;
    width: 100%;
    height: 100%;
  }

  #modelContainer {
    position: absolute;
    z-index: -1;
    margin-right: 25rem;
    width: 100%;
    padding-bottom: 100%;
  }

  #formWrapper {
    font-size: x-large;
    width: 40rem;
    height: fit-content;
    margin: auto;
    margin-right: 15em;
    padding: 2em;
  }

  #formWrapper input,
  #formWrapper select,
  #formWrapper label,
  #formWrapper a {
    font-size: 1.5em; 
    padding: 0.2em; 
  }

  #formWrapper button {
    font-size: 2em; 
    padding: 0.4em 0.8em; 
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

  #formWrapper h1 {
    font-size: 4em; 
    padding: 0.2em; 
    margin-top: 0,5em;
  }

  #LoginHeading {
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media (min-width: 3201px) {
  #responsive-canvas {
    position: absolute;
    top: 50rem;
    right: 15rem;
    width: 100%;
    height: 100%;
  }

  #modelContainer {
    position: absolute;
    z-index: -1;
    margin-right: 25rem;
    width: 100%;
    padding-bottom: 100%;
  }

  #formWrapper {
    font-size: x-large;
    width: 50rem;
    height: fit-content;
    margin: auto;
    margin-right: 15em;
    padding: 2em;
  }

  #formWrapper input,
  #formWrapper select,
  #formWrapper label,
  #formWrapper a {
    font-size: 1.5em; 
    padding: 0.2em; 
  }

  #formWrapper button {
    font-size: 2em; 
    padding: 0.4em 0.8em; 
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

  #formWrapper h1 {
    font-size: 4em; 
    padding: 0.2em; 
    margin-top: 0,5em;
  }

  #LoginHeading {
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (orientation: portrait) and (min-width: 1440px) and (min-height: 3168px) {

  #modelContainer {
    display: none;
  }

  #formWrapper {
    width: 80%;
    height: fit-content;
    margin: auto;
    padding: 4em;
    border-radius: 2rem;
  }

  #formWrapper input,
  #formWrapper select,
  #formWrapper label,
  #formWrapper a {
    font-size: 4em; 
    padding: 0.2em; 
  }

  #formWrapper button {
    font-size: 5em; 
    padding: 0.4em 0.8em; 
    margin-top: 1em;
    margin-bottom: 1em;
  }

  #formWrapper h1 {
    font-size: 10em; 
    padding: 0.2em; 
    margin-top: 0,5em;
  }
}

@media screen and (orientation: portrait) and (min-width: 1080px)
{
  #modelContainer {
    display: none;
  }

  #formWrapper {
    width: 80%;
    height: fit-content;
    margin: auto;
    padding: 4em;
    border-radius: 2rem;
  }

  #formWrapper input,
  #formWrapper select,
  #formWrapper label,
  #formWrapper a {
    font-size: 2em; 
    padding: 0.2em; 
  }

  #formWrapper button {
    font-size: 2.5em; 
    padding: 0.4em 0.8em; 
    margin-top: 1em;
    margin-bottom: 1em;
  }

  #formWrapper h1 {
    font-size: 6em; 
    padding: 0.2em; 
    margin-top: 0,5em;
  }
}
@media screen and (orientation: portrait) and (min-width: 1080px) and (max-width: 1439px) and (min-height: 2340px) and (max-height: 3167px) {
  
  #modelContainer {
    display: none;
  }

  #formWrapper {
    width: 80%;
    height: fit-content;
    margin: auto;
    padding: 4em;
    border-radius: 2rem;
  }

  #formWrapper input,
  #formWrapper select,
  #formWrapper label,
  #formWrapper a {
    font-size: 4em; 
    padding: 0.2em; 
  }

  #formWrapper button {
    font-size: 5em; 
    padding: 0.4em 0.8em; 
    margin-top: 1em;
    margin-bottom: 1em;
  }

  #formWrapper h1 {
    font-size: 10em; 
    padding: 0.2em; 
    margin-top: 0,5em;
  }
}

@media screen and (orientation: portrait) and (min-width: 720px) and (max-width: 1079px) and (min-height: 1280px) and (max-height: 2339px) {

  #modelContainer {
    display: none;
  }

  #formWrapper {
    width: 80%;
    height: fit-content;
    margin: auto;
    padding: 4em;
    border-radius: 2rem;
  }

  #formWrapper input,
  #formWrapper select,
  #formWrapper label,
  #formWrapper a {
    font-size: 4em; 
    padding: 0.2em; 
  }

  #formWrapper button {
    font-size: 5em; 
    padding: 0.4em 0.8em; 
    margin-top: 1em;
    margin-bottom: 1em;
  }

  #formWrapper h1 {
    font-size: 10em; 
    padding: 0.2em; 
    margin-top: 0,5em;
  }
}


@media screen and (orientation: portrait) and (min-width: 310px) and (min-height: 520px) and (max-width: 801px) and (max-height: 1281px){
  #modelContainer {
    display: none;
  }

  #formWrapper {
    width: 80%;
    height: fit-content;
    margin: auto;
    padding: 4em;
    border-radius: 2rem;
  }

  #formWrapper input,
  #formWrapper select,
  #formWrapper label,
  #formWrapper a {
    font-size: 1.2em; 
    padding: 0.1em; 
  }

  #formWrapper button {
    font-size: 2em; 
    padding: 0.2em 0.4em; 
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  #formWrapper h1 {
    font-size: 3em; 
    padding: 0.1em; 
    margin-top: 0.25em;
  }
}

@media screen and (orientation: portrait) and (max-width: 450px) and (max-height: 900px) {
  #modelContainer {
    display: none;
  }

  #formWrapper {
    width: 80%;
    height: fit-content;
    margin: auto;
    padding: 2em;
    border-radius: 1em;
  }

  #formWrapper input,
  #formWrapper select,
  #formWrapper label,
  #formWrapper a {
    font-size: 1em; 
    padding: 0.05em; 
  }

  #formWrapper button {
    font-size: 1em; 
    padding: 0.1em 0.2em; 
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }

  #formWrapper h1 {
    font-size: 2.5em; 
    padding: 0.0.5em; 
    margin-top: 0.1em;
  }
}

