/* #formWrapper {
  display: none;
} */

#LoadingHeading {
  text-align: center;
}

@media (max-width: 375px) {
  #responsive-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #modelContainer {
    display: none;
  }

  #formWrapper {
    width: fit-content;
    height: fit-content;
    margin: auto;

  }
}

/* Medium-sized mobile devices */
@media (min-width: 489px) and (max-width: 580px) {
  #responsive-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #modelContainer {
    display: none;
  }

  #formWrapper {
    width: 25em;
    height: fit-content;
    margin: auto;

  }
}

/* Larger mobile devices */
@media (min-width: 581px) and (max-width: 850px) {
  #responsive-canvas {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

  #modelContainer {
    display: none;
  }

  #formWrapper {
    width: 30rem;
    height: 30rem;
    margin: auto;

  }

  #LoginHeading {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

@media (min-width: 851px) and (max-width: 1000px) {
  #responsive-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  #modelContainer {
    position: absolute;
    z-index: -1;
    margin-right: 25rem;
    margin-top: 30rem;
    width: 100%;
    padding-bottom: 180%;
    /* Adjust the aspect ratio of the model container */
  }

  #formWrapper {
    width: 25rem;
    height: 30rem;
    margin: auto;
    margin-right: 4em;

  }

  #LoginHeading {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1001px) and (max-width: 1179px) {
  #responsive-canvas {
    position: absolute;
    top: 5em;
    width: 100%;
    height: 100%;
  }

  #modelContainer {
    position: absolute;
    z-index: -1;
    margin-right: 25rem;
    margin-top: 30rem;
    width: 100%;
    padding-bottom: 160%;
    /* Adjust the aspect ratio of the model container */
  }

  #formWrapper {
    width: 25rem;
    height: 30rem;
    margin: auto;
    margin-right: 4em;

  }

  #LoginHeading {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

@media (min-width: 1180px) and (max-width: 1550px) {
  #responsive-canvas {
    position: absolute;
    top: 10em;
    width: 100%;
    height: 100%;
  }

  #modelContainer {
    position: absolute;
    z-index: -1;
    margin-right: 35rem;
    margin-top: 25rem;
    width: 100%;
    padding-bottom: 180%;
    /* Adjust the aspect ratio of the model container */
  }

  #formWrapper {
    width: 25rem;
    height: 30rem;
    margin: auto;
    margin-right: 8em;

  }

  #LoginHeading {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1551px) and (max-width: 2150px) {
  #responsive-canvas {
    position: absolute;
    top: 25rem;
    right: 10rem;
    width: 100%;
    height: 100%;
  }

  #modelContainer {
    position: absolute;
    z-index: -1;
    margin-right: 25rem;
    width: 100%;
    padding-bottom: 130%;
  }

  #formWrapper {
    width: 35rem;
    height: 35rem;
    margin: auto;
    margin-right: 15em;

  }
  #formWrapper button {
    font-size: x-large;
    width: fit-content;
    height: 2.1em;
    margin-top: 10em;
  }

  #LoginHeading {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
  }
}
@media (min-width: 2151px) and (max-width: 2399px) {
  #responsive-canvas {
    position: absolute;
    top: 40rem;
    right: 10rem;
    width: 100%;
    height: 100%;
  }

  #modelContainer {
    position: absolute;
    z-index: -1;
    margin-right: 25rem;
    width: 100%;
    padding-bottom: 160%;
  }

  #formWrapper {
    font-size: x-large;
    width: 40rem;
    height: 40rem;
    margin: auto;
    margin-right: 15em;

  }
  #formWrapper button {
    font-size: x-large;
    width: 10em;
    height: 2.5em;
  }

  #formWrapper input {
    font-size: x-large;
    width: 100%;
    height: 100%;
  }
  #LoginHeading {
    font-size: 50px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
  }
}
@media (min-width: 2400px) and (max-width: 2601px) {
  #responsive-canvas {
    position: absolute;
    top: 30rem;
    right: 15rem;
    width: 100%;
    height: 100%;
  }

  #modelContainer {
    position: absolute;
    z-index: -1;
    margin-right: 25rem;
    width: 100%;
    padding-bottom: 140%;
  }

  #formWrapper {
    font-size: x-large;
    width: 40rem;
    height: 40rem;
    margin: auto;
    margin-right: 20em;
  }

  #formWrapper button {
    font-size: x-large;
    width: 10em;
    height: 2.5em;
  }

  #formWrapper input {
    font-size: x-large;
    width: 100%;
    height: 100%;
  }

  #LoginHeading {
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (min-width: 2600px) and (max-width: 2800px) {
  #responsive-canvas {
    position: absolute;
    top: 40rem;
    right: 15rem;
    width: 100%;
    height: 100%;
  }

  #modelContainer {
    position: absolute;
    z-index: -1;
    margin-right: 25rem;
    width: 100%;
    padding-bottom: 120%;
  }

  #formWrapper {
    font-size: x-large;
    width: 40rem;
    height: 40rem;
    margin: auto;
    margin-right: 15em;
  }

  #formWrapper button {
    font-size: x-large;
    width: 10em;
    height: 2.5em;
  }

  #formWrapper input {
    font-size: x-large;
    width: 100%;
    height: 100%;;
  }

  #LoginHeading {
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media (min-width: 2801px) and (max-width: 3000px) {
  #responsive-canvas {
    position: absolute;
    top: 30rem;
    right: 15rem;
    width: 100%;
    height: 100%;
  }

  #modelContainer {
    position: absolute;
    z-index: -1;
    margin-right: 25rem;
    width: 100%;
    padding-bottom: 100%;
  }

  #formWrapper {
    font-size: x-large;
    width: 40rem;
    height: 40rem;
    margin: auto;
    margin-right: 15em;
  }

  #formWrapper button {
    font-size: x-large;
    width: 10em;
    height: 2.5em;
  }

  #formWrapper input {
    font-size: x-large;
    width: 100%;
    height: 100%;
  }

  #LoginHeading {
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (min-width: 3001px) and (max-width: 3200px) {
  #responsive-canvas {
    position: absolute;
    top: 30rem;
    right: 15rem;
    width: 100%;
    height: 100%;
  }

  #modelContainer {
    position: absolute;
    z-index: -1;
    margin-right: 25rem;
    width: 100%;
    padding-bottom: 100%;
  }

  #formWrapper {
    font-size: x-large;
    width: 40rem;
    height: 40rem;
    margin: auto;
    margin-right: 15em;
  }

  #formWrapper button {
    font-size: x-large;
    width: 10em;
    height: 2.5em;
  }

  #formWrapper input {
    font-size: x-large;
    width: 100%;
    height: 100%;
  }

  #LoginHeading {
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media (min-width: 3201px) {
  #responsive-canvas {
    position: absolute;
    top: 50rem;
    right: 15rem;
    width: 100%;
    height: 100%;
  }

  #modelContainer {
    position: absolute;
    z-index: -1;
    margin-right: 25rem;
    width: 100%;
    padding-bottom: 100%;
  }

  #formWrapper {
    font-size: x-large;
    width: 40rem;
    height: 40rem;
    margin: auto;
    margin-right: 15em;
  }

  #formWrapper button {
    font-size: x-large;
    width: 10em;
    height: 2.5em;
  }

  #formWrapper input {
    font-size: x-large;
    width: 10em;
    height: 2.5em;
  }

  #LoginHeading {
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}